<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../css/magnific-popup.css">
<link rel="stylesheet" href="../css/swiper.min.css">
<link rel="stylesheet" href="../css/welcome.css">
<link rel="stylesheet" href="../css/katherine.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/056aafa0b4.js" crossorigin="anonymous"></script>
<div class="wrapper">
    <header id="header" class="menu-top-left">

        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <nav class="main-nav">
                            <ul>
                                <li>
                                    <a href="../index.html" target="_top">Home</a>
                                </li>
                                <!-- TODO: add blog list instead of a single blog-->
                                <li>
                                    <a href="../pages/blog.html" target="_top">Blogs</a>
                                </li>
                                <li>
                                    <a href="../pages/gallery.html" target="_top">Gallery</a>
                                </li>
                                <li>
                                    <a href="../pages/about.html" target="_top">About</a>
                                </li>
                                <li>
                                    <a href="../pages/contacts.html" target="_top">Contact</a>
                                </li>
                            </ul>

                            <a href="javascript:;" id="close-menu"><i class="fa fa-close"></i></a>
                        </nav>



                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="header-wrapper">

                        <a href="./" id="logo" title="logo" class="logo-image"
                            style="background-image: url(../images/logo.svg);">logo</a>

                    </div>

                </div>
            </div>
        </div>
    </header>
</div>