<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../css/magnific-popup.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/swiper.min.css">
<link rel="stylesheet" href="../css/welcome.css">
<link rel="stylesheet" href="../css/katherine.css">
<div class="wrapper">
    <header id="header" class="menu-top-center">

        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <nav class="main-nav">
                            <ul>
                                <!-- home page -->
                                <li class="current-menu-item">
                                    <a href="index.html">Home</a>
                                </li>

                                <!-- all blogs list -->
                                <li>
                                    <a href="about.html">Blogs</a>
                                </li>

                                <!-- gallery -->
                                <li>
                                    <a href="single.html">Gallery</a>
                                </li>

                                <!-- about us -->
                                <li><a href="../pages/about.html">About Us</a></li>

                                <!-- contacts -->
                                <li><a href="../pages/contacts.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="header-wrapper">

                        <a href="./" id="logo" title="Katharine" class="logo-image"
                            style="background-image:url(../images/logo.svg) ;">Katharine</a>

                    </div>

                </div>
            </div>
        </div>
    </header>
</div>