<header id="header" class="menu-top-center">

    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <nav class="main-nav">
                        <ul>
                            <li class="current-menu-item">
                                <a href="index.php">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="about.html">Pages</a>
                                <ul>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="404.html">404 page</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contacts.html">Contact</a></li>
                        </ul>

                        <a href="javascript:;" id="close-menu"><i class="fa fa-close"></i></a>
                    </nav>
                    
                    <div class="topbar-left-content">
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-vimeo"></i></a>
                        </div>
                    </div>

                    <div class="topbar-right-content">
                        <a href="javascript:;" id="header-search">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                <div class="header-wrapper">

                    <a href="./" id="logo" title="Katharine" class="logo-image" data-bg-image="images/logo.svg">Katharine</a>

                </div>

            </div>
        </div>
    </div>
</header>