<link rel="stylesheet" href="../css/style.css">
<div class="col-sm-4 sidebar">
    <div class="widget">
        <h5 class="widget-title"><span>Popular Posts</span></h5>
        <div class="popular-posts">
            <div class="rp-featured">
                <div class="rp-media">
                    <a href="#"><img src="../images/blogimg/popular-head.png" alt="popular-head"></a>
                    <span>1</span>
                </div>
                <div class="rp-category"><a href="#">Fashion Lite</a></div>
                <h5><a href="#">Got a dream and we just know now</a></h5>
                <div class="seperator"><span></span></div>
            </div>

            <ol class="rp-items">
                <li></li>
                <li>
                    <a href="#" class="link-post">Now the world don't move to the beat of just one drum</a>
                    <a href="#" class="link-cat">FASHION</a>
                </li>
                <li>
                    <a href="#" class="link-post">These are the voyages of the Starship Enterprise</a>
                    <a href="#" class="link-cat">FASHION</a>
                </li>
                <li>
                    <a href="#" class="link-post">Then along come two they got nothin' but their jeans</a>
                    <a href="#" class="link-cat">FASHION</a>
                </li>
                <li>
                    <a href="#" class="link-post">The movie star the professor and Mary Ann</a>
                    <a href="#" class="link-cat">FASHION</a>
                </li>
            </ol>

        </div>
    </div>


    <div class="widget widget-subscribe">
        <div class="entry-subscribe">
            <h2>Daily News about</h2>
            <h3>FASHION</h3>
            <div class="seperator"><span></span></div>
            <form>
                <input type="text" placeholder="Your E-mail">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>


    <div class="widget">
        <h5 class="widget-title"><span>Categories</span></h5>
        <ul>
            <li>
                <a href="#">Gallery Post</a>
                <span>4</span>
            </li>
            <li>
                <a href="#">Standard Post</a>
                <span>2</span>
            </li>
            <li>
                <a href="#">Video Post</a>
                <span>2</span>
            </li>
            <li>
                <a href="#">News</a>
                <span>3</span>
            </li>
            <li>
                <a href="#">Quotes</a>
                <span>1</span>
            </li>
        </ul>
    </div>
</div>